/* Global */

html,body {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  background: #FFF !important;
}

a, a:visited, a:active, a:focus {
	color: #0C568E;
	text-decoration: none;
}

a:hover {
	color: #2497D1;
	text-decoration: none;
}

/* Nav */

.icon-float-1 {
	float: left;
	margin-top: 3px;
}
/* Layout */

.heading-row {
	padding: 0px;
	b/order-bottom: solid 1px #CCC !important;
}

.heading-row .heading-cell {
}

.heading-row div:nth-child(1) {
}

.main-container {
	margin-top:-20px !important;
	background: #FFF !important;
}

.left-menu {
}

.left-nav-menu {
	margin-top: 25px;
}


#nav-left-container {
	height: 1000px !important;
	background: #fdfdfd !important;
}

.nav-list li.main-entry {
	list-style: none;
	list-style-type: none;
}
.nav-list li.main-entry a {
	font-size: 79% !important;
}

.left-side-border {
	border-right : solid 1px #D4D7DD;
}

.left-side-border-bottom {
	border-bottom : solid 1px #D4D7DD;
}

.page-top-right {
	padding: 10px;
}

.page-top-right .page-heading {
	font-size: 16px;
	font-weight: bold;
}

.page-top-left {
	padding: 10px;
	font-size: 16px;
	background: #f7f7f7;
}

.page-top-left a {
	color: #104A74;
	text-decoration: none;
}

.page-top-left a:hover {
	color: #1B7BBF;
}

.nav-list {
	margin-left: -40px;
}

.nav-list li.nav-list-item {
}

.nav-list li.nav-list-item a {
	display:block;
	padding: 10px !important;
	text-decoration: none !important;
	color: #01233C;
}

.nav-list li.nav-list-item a:hover  {
	background: #E5E9F3;
}

.nav-list li.active a {
	background: #EEF2FC;
}

.nav-list li.active a {
	font-weight: bold;
	color: #0B86AF;
	border-bottom: solid 1px #DDE1EA;
}

.nav-list li.nav-submenu-list-item a {
	padding: 5px !important;
	padding-left: 30px !important;
	font-size: 70% !important;
	background: #f9f9f9;
	display: block;
	text-decoration: none;
	margin-top: 0 !important;
}

.nav-list li.nav-submenu-list-item a {
	color: #3C6D93 !important;
}

.nav-list li.nav-submenu-list-item a:hover {
	color: #5192C4 !important;
}

.nav-list li.divider {
	border-top: solid 1px #DEE2EB;
	display:none;
}

.nav-list li.project-link a {
	font-weight:bold; 
	background: none !important; 
	cursor: default;
}

.nav-list li.project-link a i {
	cursor: pointer;
}

.main-content {
	padding-left: 25px;
	padding-top: 25px;
}

.grid-list, .grid-list li {
	list-style: none;
	list-style-type: none;
}

.grid-list {
	margin-left: -40px;
	margin-top: 10px;
}

.project-list li {
	display: block;
	float: left;
	margin-right: 3%;
	margin-bottom: 15px;
	margin-top: 15px;
	width: 30%;
}

.project-list li:hover {
	b/ackground: #f7f7f7;
	b/order: solid 1px #CDD1D8;
}

.project-list li a {
	text-decoration: none;
}

.project-list .grid-headline {
	font-weight: bold;
	font-size: 17px;
}

.project-list .grid-headline a {
	color: #1D2A34;
}

.project-list .grid-subhead {
	font-size: 13px !important;
	color: #929292 !important;
	padding-top: 10px;
}

.project-modified-date {
	color: #9AB0BA;
	float: right;
	padding-top: 10px;
	font-size: 70%;
}

.project-list md-card {
	margin: 0px !important;
}

/* Forms */

.slim-form {
	width: 60%;
}

/* Containers, bootstrap */

.Xalert-info {
	background: #E5E7EE;
	color: #000;
}

.white-bg {
	background: #FFF;
}

.push-down {
	margin-top: 25px;
}

.pull-left {
	float: left !important;
	display: inline !important;
}

.light-bg {
	background: #F7FDF5;
}

/*******************************************/

.navbar .network-name strong {
	color: #2DD9FB;
	font-weight: bold;
	display: block;
	padding-top: 13px;
	padding-left: 15px;
	padding-bottom: 15px;
	margin-left: 5px;
	border-left: solid 1px #536499;
}

.navbar .network-dropdown a i {
	color: #B4C6D0 !important;
	font-weight: bold;
	display: block;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}

.navbar .network-dropdown a {
	background: none !important;
}

.navbar .submenu ul li a {
	background: #FFF !important;
	color: #0C2E47 !important;
}

.navbar-inverse {
	background: #3d4970;
}

.navbar-right li:hover a,
.navbar-right li:focus a,
.navbar-right li:active a {
	background: #536499 !important;
}

/********************search*********************/

#search-top {
	background: #FFF;
	filter: alpha(opacity: 30);
	opacity: 0.3;
	width: 70%;
	padding: 5px !important;
	padding-left: 10px !important;
	display: block;
	margin: auto;
	border: none !important;
	outline: none !important;
	margin-top: 9px !important;
}

#search-top:active,
#search-top:focus,
#search-top:hover {
	filter: alpha(opacity: 90);
	opacity: 0.9;
}

.right-link-hidden {
	background: none !important;
}

.label-small-round {
	border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding:5px;
	text-align:center;
}

md-input-container label, label.form-label {

	font-size: 20px;
	font-weight: 200;

}

.md-no-underline {
	border-bottom: dotted 1px #ccc !important;
}

.md-toast-info .md-toast-content {
	background: #4C6F83 !important;
}

.md-toast-error .md-toast-content {
    background-color: #AD0608 !important;
}

.md-toast-success .md-toast-content {
    background-color: #35680F !important;
}

.alert-info-inverse {
	border: solid 1px #A2BAC4;
	color: #345A75;
}

.alert-info-light {
	background: #F0F5F9;
	color: #345A75;
}

.text-warning {
	color: #EB4A04;
}

.text-danger {
	color: #EB0615;
}

.text-success {
	color: #2E7C03;
}

.text-info {
	color: #0B79B0;
}

.text-default {
	color: #A3A5A8;
}

.text-struck {
	text-decoration: line-through;
}

.table-middle-align > tbody > tr > td {
     vertical-align: middle;
}

.md-container {
	width: 70%;
}

.sm-container {
	width: 50%;
}

.xs-container {
	width: 35%;
}

.small-description {
	color: #93A3AE;
	font-size: 12px;
}

.perm-list-item span.small-description {
	color: #93A3AE;
	font-size: 85%;
	display: none;
}

.perm-list-item:hover span.small-description {
	display: inline;
}

textarea,
input,
button,
select,
.btn,
md-select,
li,
.no-outlines,
.no-outlines:focus,
.no-outlines:active
{
    outline:0px !important;
    -webkit-appearance:none !important;
    box-shadow: none !important;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
}

.no-margin-top {
	margin-top: 0px !important;
}

.no-margin-left {
	margin-left: 0px !important;
}

.no-margins {
	margin: 0px !important;
}

.side-margins {

	margin-left: 10px;
	margin-right: 10px;

} 

.light-success-bg {

	background: #F6FBF1;
	border: solid 1px #C3C7BF;

}

.light-danger-bg {

	background: #FBECEC;
	border: solid 1px #D8CBCB;

}

.bold-top-border {
	border-top-width: 3px !important;
}

.smaller-text {
	font-size: 87%;
}

.short-div {
	width: 50%;
	height: 300px;
	overflow-y: auto;
}

#loading-container {
	background: url('/img/loading.gif') center center no-repeat; 
	position: fixed; 
	height: 100%; 
	width: 100%; 
	top: 0px; 
	left: 0px; 
	filter: alpha(opacity=53); 
	opacity: 0.53; 
	display: none;
}

.push-right {
	float: right;
}

.push-left	 {
	float: left	;
}

.pull-up {
	margin-top: -25px;
}

/*****************/

.activity-feed .activity-date {
	font-size: 12px;
	color: #919AA1;
}

.activity-feed .view-link {
	color: #465F74 !important;
}

/******toolbar***************/

#header-toolbar {
	margin: 0;
	margin-bottom: 15px;
	padding: 5px;
	padding-left: 0px;
}

#header-toolbar ul.toolbar li {
	opacity: 0.45;
	filter: alpha(opacity=45);
}

#header-toolbar:hover ul.toolbar li {
	opacity: 1;
	filter: alpha(opacity=100);
}

#header-toolbar ul.toolbar,
#header-toolbar ul.toolbar li {
	list-style: none;
	list-style-type: none;
}

#header-toolbar ul.toolbar {
	margin-left: -40px;
	height: 19px;
}

#header-toolbar ul.toolbar li {
	float: left;
	margin-right: 15px;
}

#header-toolbar ul.toolbar li a {
	display: block;
	font-size: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	text-decoration: none;
	color: #1A3645;
}

#header-toolbar ul.toolbar li a .toolbar-icon {
	margin-top: -3px;
}

.pointer-cursor {
	cursor: pointer;
}

.no-borders {
	border: 0px !important;
}

.border-top {
	border-top: solid 1px #EEE;
}

.padding-top {
	padding-top: 15px;
}
.bold {
	font-weight: bold;
}

/******** suites ***************/

.suite-list, .suite-list li {
	list-style: none;
	list-style-type: none;
}

.suite-list {
	background: #F3f3f3;
	margin-right: 10px;
	padding: 7px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.suite-list .list-inner {
	max-height: 500px !important;
	overflow-y: hidden;
}


.suite-list .list-inner:hover {
	overflow-y: auto;
}

.suite-list .list-inner md-checkbox {

	margin: 0;
	display: inline;

}

.suite-list .card-item {
	padding: 10px;
	font-size: 14px;
	margin: 0px;
	border-bottom: 0px;
	margin-bottom: 5px;
	background: #FFF;
	padding: 10px;
	font-size: 12px;
  outline:0px !important;
	box-shadow: 0 1px 1px #ccc, 0 1px 1px #ccc !important;
	-moz-box-shadow: 0 1px 1px #ccc, 0 1px 1px #ccc !important;
	-khtml-box-shadow: 0 1px 1px #ccc, 0 1px 1px #ccc !important;
	-webkit-box-shadow: 0 1px 1px #ccc, 0 1px 1px #ccc !important;
  transition: all 0.2s cubic-bezier(.25,.8,.25,1) !important;
	-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
}

.suite-list h3 {
	margin-top: 0px;
}

.suite-list md-card:last-child {
	b/order-bottom: solid 1px #E4EAF2;
}

.suite-list md-card.active-item {

	font-weight: bold;
	color: #1A5A8B;

}

.suite-list md-card md-menu i.options-menu {

	

}

.suite-list md-card md-menu {

	float:right;
	position: relative; 
	margin-top: -12px;
	display: none;

}

.suite-list md-card.active-item md-menu {

	display: inline;

}

.DDDsuite-list md-card.active-item:after {

  content: "\f069"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: bold;
  text-decoration: inherit;
  font-size: 12px;
  color: #1A5A8B;
  z-index: 1;
  float: right;
  position: relative;
  margin-left: 95%;
  margin-top: -15px;

}

.suite-list md-card:hover {

	color: #1A5A8B;

}

.test-step-item {
	padding: 5px;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}

.test-step-item.active-step .number-column {

	border-right: solid 3px #728DA0;

}

.test-step-item.active-step .number-column {
	color: #1E323E;
}

.test-step-item.active-step md-button {
    min-width: 1% !important;
}

.test-step-item .data-column {
	padding-left: 5px;
}

.test-step-item .number-column {
	padding-right: 5px;
	border-right: solid 3px #E2EDF4;
	color: #AABDC9;
	font-weight: bold;
}

.result-type-issue {
	color: #9A1D11;
}

.result-type-result {
	color: #3A7323;
}
